.model-modification {
  width: 100%;
}

.steps-card {
  margin-bottom: 24px;
}

.steps-card .ant-steps-item-finish .ant-steps-item-icon {
  background-color: rgba(0, 217, 255, 0.1);
  border-color: rgb(0, 217, 255);
}

.steps-card .ant-steps-item-process .ant-steps-item-icon {
  background-color: rgb(0, 217, 255);
  border-color: rgb(0, 217, 255);
}

